/*
 * CopyRIGHT (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define nums_layer    1
#define syms_layer    2
#define arrows_layer  3
#define tmux_layer    4
#define helper_layer  5
#define window_layer  6

/ {
    macros {
ZMK_MACRO(ff_tab,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp LG(L) &kp PERCENT &kp SPACE >;
    )
ZMK_MACRO(t_0,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_0 >;
    )

ZMK_MACRO(t_1,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_1>;
    )

ZMK_MACRO(t_2,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_2 >;
    )

ZMK_MACRO(t_3,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_3>;
    )

ZMK_MACRO(t_4,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_4 >;
    )

ZMK_MACRO(t_5,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_5 >;
    )

ZMK_MACRO(t_6,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_6 >;
    )

ZMK_MACRO(t_7,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_7 >;
    )

ZMK_MACRO(t_8,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_8 >;
    )

ZMK_MACRO(t_9,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_9 >;
    )

ZMK_MACRO(t_LEFT,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp LEFT >;
    )

ZMK_MACRO(t_RIGHT,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp RIGHT >;
    )

ZMK_MACRO(t_UP,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp UP >;
    )

ZMK_MACRO(t_DOWN,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp DOWN >;
    )

ZMK_MACRO(t_scroll,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp PG_UP >;
    )

ZMK_MACRO(t_hsplit,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp MINUS >;
    )

ZMK_MACRO(t_vsplit,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp PIPE >;
    )


ZMK_MACRO(t_kwin,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp AMPS >;
    )
ZMK_MACRO(t_new,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp C >;
    )

ZMK_MACRO(t_name,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp COMMA >;
    )

ZMK_MACRO(t_kpane,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp X >;
    )
ZMK_MACRO(skshft,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&sk LSHIFT >;
    )

ZMK_MACRO(t_f9,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp NUM_0 >;
    )

ZMK_MACRO(t_f1,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F1>;
    )

ZMK_MACRO(t_f2,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F2 >;
    )

ZMK_MACRO(t_f3,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F3>;
    )

ZMK_MACRO(t_f4,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F4 >;
    )

ZMK_MACRO(t_f5,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F5 >;
    )

ZMK_MACRO(t_f6,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F6 >;
    )

ZMK_MACRO(t_f7,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F7 >;
    )

ZMK_MACRO(t_f8,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F8 >;
    )

ZMK_MACRO(t_f9,
        wait-ms = <30>;
        tap-ms = <40>;
        bindings = <&kp RC(A) &kp F9 >;
    )

    
};
};
&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};


/ { 

    combos {
        compatible = "zmk,combos";
        combo_ff_tab {
            timeout-ms = <50>;
            key-positions = <13 23>;
            bindings = <&ff_tab>;
            layers = <0 1 2>;
        };
        combo_esc {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp ESC>;
            layers = <0 1 2>;
        };
         combo_sk_alt {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&sk LALT>;
            layers = <0 1 2>;
        };
         combo_iterm {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp LC(BSLH)>;
            layers = <0 1 2>;
        };
         combo_sk_ctrl {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&sk LCTL>;
            layers = <0 1 2>;
        };
        
         combo_backslash {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&kp BSLH>;
            layers = <0 1 2>;
        };
         combo_backspace {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp BACKSPACE>;
            layers = <0 1 2>;
        };
        
            combo_repeat {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&key_repeat>;
            layers = <0 1 2>;
        };
         combo_sk_lgui {
            timeout-ms = <100>;
            key-positions = <2 12>;
            bindings = <&sk LGUI>;
            layers = <0 1 2>;
        };
         combo_sk_rgui {
            timeout-ms = <100>;
            key-positions = <7 17>;
            bindings = <&sk RGUI>;
            layers = <0 1 2>;
        };
        
            combo_tab {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp TAB>;
            layers = <0 1 2>;
        };
        
            combo_colon {
            timeout-ms = <100>;
            key-positions = <17 27>;
            bindings = <&kp COLN>;
            layers = <0 1 2>;
        };
        
        
           combo_meh_layer {
            timeout-ms = <50>;
            key-positions = <3 13>;
            bindings = <&sl 7>;
            layers = <0 1 2>;
        };
           combo_copy {
            timeout-ms = <120>;
            key-positions = <21 23>;
            bindings = <&kp LG(C)>;
            layers = <0 1 2>;
        };
           combo_alfred {
            timeout-ms = <50>;
            key-positions = <6 16>;
            bindings = <&kp LA(SPACE)>;
            layers = <0 1 2>;
        };
           combo_paste {
            timeout-ms = <120>;
            key-positions = <21 22 23>;
            bindings = <&kp LG(V)>;
            layers = <0 1 2>;
        };
            combo_caps_word {
            timeout-ms = <120>;
            key-positions = <11 12 13>;
            bindings = <&caps_word>;
            layers = <0 1 2>;
        };
        /*
        * ARTSEY COMBOS
        */
        
            artsey_m {
            timeout-ms = <120>;
            key-positions = <20 21 22>;
            bindings = <&kp M>;
            layers = <3>;
        };
            artsey_y {
            timeout-ms = <120>;
            key-positions = <20 21>;
            bindings = <&kp Y>;
            layers = <3>;
        };
            artsey_p {
            timeout-ms = <120>;
            key-positions = <20 21 23>;
            bindings = <&kp P>;
            layers = <3>;
        };
            artsey_q {
            timeout-ms = <120>;
            key-positions = <10 11 13>;
            bindings = <&kp Q>;
            layers = <3>;
        };
            artsey_u {
            timeout-ms = <120>;
            key-positions = <21 22>;
            bindings = <&kp U>;
            layers = <3>;
        };
            artsey_v {
            timeout-ms = <120>;
            key-positions = <10 12>;
            bindings = <&kp V>;
            layers = <3>;
        };
            artsey_w {
            timeout-ms = <120>;
            key-positions = <10 13>;
            bindings = <&kp W>;
            layers = <3>;
        };
            artsey_x {
            timeout-ms = <120>;
            key-positions = <10 11 12>;
            bindings = <&kp X>;
            layers = <3>;
        };
            artsey_z {
            timeout-ms = <120>;
            key-positions = <10 11 12 13>;
            bindings = <&kp Z>;
            layers = <3>;
        };
            artsey_esc {
            timeout-ms = <120>;
            key-positions = <20 12 23>;
            bindings = <&kp ESC>;
            layers = <3>;
        };
            artsey_tab {
            timeout-ms = <120>;
            key-positions = <20 11 12 13>;
            bindings = <&kp TAB>;
            layers = <3>;
        };
            artsey_ctrl {
            timeout-ms = <120>;
            key-positions = <10 23>;
            bindings = <&kp LCTL>;
            layers = <3>;
        };
            artsey_gui {
            timeout-ms = <120>;
            key-positions = <10 21>;
            bindings = <&kp LGUI>;
            layers = <3>;
        };
            artsey_alt {
            timeout-ms = <120>;
            key-positions = <10 11 12 23>;
            bindings = <&kp LALT>;
            layers = <3>;
        };
            artsey_shift {
            timeout-ms = <120>;
            key-positions = <10 21>;
            bindings = <&kp LSFT>;
            layers = <3>;
        };
            artsey_wordlock {
            timeout-ms = <120>;
            key-positions = <20 21 22 13>;
            bindings = <&caps_word>;
            layers = <3>;
        };
            artsey_b {
            timeout-ms = <120>;
            key-positions = <20 23>;
            bindings = <&kp B>;
            layers = <3>;
        };
            artsey_c {
            timeout-ms = <120>;
            key-positions = <22 23>;
            bindings = <&kp C>;
            layers = <3>;
        };
            artsey_d {
            timeout-ms = <120>;
            key-positions = <11 12 13>;
            bindings = <&kp D>;
            layers = <3>;
        };
            artsey_f {
            timeout-ms = <120>;
            key-positions = <12 13>;
            bindings = <&kp F>;
            layers = <3>;
        };
            artsey_g {
            timeout-ms = <120>;
            key-positions = <11 12>;
            bindings = <&kp BACKSPACE>;
            layers = <3>;
        };
            artsey_h {
            timeout-ms = <120>;
            key-positions = <21 23>;
            bindings = <&kp H>;
            layers = <3>;
        };
            artsey_j {
            timeout-ms = <120>;
            key-positions = <10 11>;
            bindings = <&kp J>;
            layers = <3>;
        };
            artsey_k {
            timeout-ms = <120>;
            key-positions = <20 22>;
            bindings = <&kp K>;
            layers = <3>;
        };
            artsey_l {
            timeout-ms = <120>;
            key-positions = <21 22 23>;
            bindings = <&kp L>;
            layers = <3>;
        };
            artsey_enter {
            timeout-ms = <120>;
            key-positions = <13 23>;
            bindings = <&kp RET>;
            layers = <3>;
        };
            artsey_quote {
            timeout-ms = <120>;
            key-positions = <13 21 22>;
            bindings = <&kp QUOT>;
            layers = <3>;
        };
            artsey_comm {
            timeout-ms = <120>;
            key-positions = <13 21>;
            bindings = <&kp COMMA>;
            layers = <3>;
        };
            artsey_dot {
            timeout-ms = <120>;
            key-positions = <13 22>;
            bindings = <&kp DOT>;
            layers = <3>;
        };
            artsey_slash {
            timeout-ms = <120>;
            key-positions = <13 21>;
            bindings = <&kp SLASH>;
            layers = <3>;
        };
            artsey_bang {
            timeout-ms = <120>;
            key-positions = <11 21>;
            bindings = <&kp EXCL>;
            layers = <3>;
        };
            artsey_space {
            timeout-ms = <200>;
            key-positions = <20 21 22 23>;
            bindings = <&kp SPACE>;
            layers = <3>;
        };
            artsey_bs {
            timeout-ms = <120>;
            key-positions = <12 23>;
            bindings = <&kp G>;

            layers = <3>;
        };

        

        
    };

    behaviors {
        shft_rpt: repeat_mod {
      compatible = "zmk,behavior-hold-tap";
      label = "REPEAT_MOD";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <270>;
      bindings = <&sk>, <&key_repeat>;
    };
    skq: sticky_key_quick_release {
        compatible = "zmk,behavior-sticky-key";
        label = "STICKY_KEY_QUICK_RELEASE";
        #binding-cells = <1>;
        bindings = <&kp>;
        release-after-ms = <1000>;
        quick-release;
        };
    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q       &kp W &kp F   &kp P &kp B                           &kp J           &kp L  &kp U        &kp Y   &kp QUOT
		&kp A       &kp R &kp S   &kp T &lt 4 G 		   	            &lt 1 M         &kp N  &kp E        &kp I   &kp O    
		&kp Z       &kp X &kp C   &kp D &kp V				            &kp K           &kp H  &kp COMMA    &kp DOT &mt LSFT RET
          				&skq LSFT  &sl 2  	        			&kp SPC &lt 6 SPACE
		>;
		};

       		nums_layer {
		bindings = <
		&kp NUM_5   &kp NUM_6    &kp NUM_7  &kp NUM_8   &kp NUM_9		        &kp EQUAL   &kp LBKT &none      &reset   &bootloader
		&kp NUM_0   &kp NUM_1    &kp NUM_2  &kp NUM_3   &lt 4 NUM_4 		    &trans      &kp LGUI &kp RBKT   &none   &none 
		&kp COMMA   &kp DOT 	 &sk LGUI   &none       &none  	                &kp MINUS   &kp RBKT &none      &none   &none  
					                        &trans      &trans                 &trans &trans 
		>;
		};

        syms_layer {
		bindings = <                                                                                                     
		&sk LSHIFT  &kp AT      &kp LBRC    &kp RBRC    &kp SEMICOLON		        &kp GRAVE     &kp CARET &kp HASH    &kp QMARK  &kp PERCENT 
		&kp LBKT    &kp RBKT    &kp LPRN    &kp RPRN    &mo 4 		                &lt 1 EQUAL   &kp PLUS &kp MINUS    &kp FSLH   &kp ASTERISK
		&none       &none 	    &sk LGUI    &kp HASH    &kp PIPE 	                &kp AMPS      &kp UNDER &kp DLLR    &kp EXCL   &kp TILDE 
					                        &trans      &sk LSFT  		            &trans      &sl 5 
		>;
		};

        artsey_layer {
		bindings = <
		&t_5        &t_6       &t_7         &t_8        &t_9    			    &kp RC(B)       &none       &none              &none        &t_scroll  
		&kp A        &kp R       &kp S         &kp T        &none 			     &none          &kp T        &kp S       &kp R         &kp A        
		&kp O        &kp I       &kp E         &kp N        &none                &none           &kp N        &kp E       &kp I         &kp O        
					                        &to 0      &kp SPACE 			        &trans  &trans 
		>;
		};	

		arrows_layer {
		bindings = <
		&bootloader &reset       &none       &kp DEL       &none    			    &kp LG(LEFT)    &kp LA(LEFT)  &kp LA(RIGHT)    &kp LG(RIGHT) &kp LG(UP) 
		&none       &none       &none       &kp LSHIFT   &trans 			        &kp LEFT        &kp DOWN      &kp UP           &kp RIGHT     &trans 
		&none       &none       &none       &to 3       &none                   &kp BSLH        &trans        &trans           &trans        &kp LG(DOWN)
					                        &trans      &trans                  &kp SPC  &trans 
		>;
		};	

        tmux_layer {
		bindings = <
		&t_5        &t_6       &t_7         &t_8        &t_9    			    &kp RC(B)       &none       &none              &none        &t_scroll  
		&t_0        &t_1       &t_2         &t_3        &t_4 			        &t_LEFT         &t_DOWN     &t_UP              &t_RIGHT     &none 
		&t_hsplit   &none      &none        &none      &t_vsplit               &t_kpane        &t_new      &t_name            &none        &none 
					                        &none      &none 			        &trans  &trans 
		>;
		};	
		
		helper_layer {
		bindings = <
		&kp LC(LS(F14)) &kp LC(LS(F15)) &kp LC(LS(F16)) &kp LC(LS(F17)) &kp LC(LS(F18)) 		    &bt BT_SEL 0    &bt BT_SEL 1 &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_CLR
		&kp LC(LS(NUM_0)) &kp LC(LS(NUM_6)) &kp LC(LS(NUM_7)) &kp LC(LS(NUM_8)) &kp LC(LS(NUM_9))  		    &kp LEFT        &trans      &trans             &kp RIGHT   &kp K_MUTE 
		&kp LC(LS(NUM_1))  &kp LC(LS(NUM_2)) &kp LC(LS(NUM_3)) &kp LC(LS(NUM_4)) &kp LC(LS(NUM_5))   			&none           &kp C_PREV  &kp C_PP           &kp C_NEXT  &trans   
					                        &trans      &trans  			    &trans &trans 
		>;
		};	
        window_layer {
		bindings = <
        &kp LC(LS(LA(Q)))    &kp LC(LS(LA(W)))    &kp LC(LS(LA(F)))    &kp LC(LS(LA(P)))    &kp LC(LS(LA(B)))            &kp LC(LS(LA(J)))    &kp LC(LS(LA(L)))   &kp LC(LS(LA(U)))        &kp LC(LS(LA(Y))) &kp LC(LS(LA(QUOT)))
        &kp LC(LS(LA(A)))    &kp LC(LS(LA(R)))    &kp LC(LS(LA(S)))    &kp LC(LS(LA(T)))    &kp LC(LS(LA(G)))            &kp LC(LS(LA(M)))    &kp LC(LS(LA(N)))   &kp LC(LS(LA(E)))       &kp LC(LS(LA(I)))   &kp LC(LS(LA(O)))
        &kp LC(LS(LA(Z)))    &kp LC(LS(LA(X)))    &kp LC(LS(LA(C)))    &kp LC(LS(LA(D)))    &kp LC(LS(LA(V)))            &kp LC(LS(LA(K)))    &kp LC(LS(LA(H)))   &kp LC(LS(LA(COMMA)))      &kp LC(LS(LA(DOT))) &kp LC(LS(LA(SLASH)))
                                                                       &kp LC(LS(LA(EQUAL))) &kp LC(LS(LA(AMPS)))        &kp LC(LS(LA(SPACE))) &kp LC(LS(LA(EXCL))) 
		>;
		}; 
	};
};
